<html>
    <body>
        <div>
            <div>
                <span>ID:</span>
                <span>{{ todo.id }}</span>
            </div>
            <div>
                <span>Status:</span>
                <span>{{ todo.status }}</span>
            </div>
            <div>
                <span>Created at:</span>
                <span>{{ todo.created_at }}</span>
            </div>
            <div>
                <span>Updated at:</span>
                <span>{{ todo.updated_at }}</span>
            </div>
        </div>
    </body>
</html>
